body {
    min-width: 1200px;
    line-height: 1.2;
}

h2, h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #be4938;
    padding: 0 0 20px 0;
}

p {
    font-family: 'Raleway', sans-serif;
    color: #707070;
    line-height: 1.5;
}

.img-hover {
    opacity:1;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;
}
.img-hover:hover {
    opacity:0.88;
}

#popup{
    z-index:-1;
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}
#popup.show{
    opacity: 1;
    z-index: 999999;
}
#popup .video{
    position:absolute;
    top:-50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:980px;
}
#popup .sound{
    position:absolute;
    top:-50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:980px;
}
#popup .content-close{
    position:absolute;
    top:30px;
    right:50px;
    height:60px;
    width:60px;
    line-height:60px;
    text-align:center;
}
#popup .content-close #close{
    cursor:pointer;
    height:50px;
    width:50px;
    margin:0 auto;
    vertical-align: middle;
    -webkit-transition: height 0.3s ease-out, width 0.3s ease-out;
    -moz-transition: height 0.3s ease-out, width 0.3s ease-out;
    -ms-transition: height 0.3s ease-out, width 0.3s ease-out;
    transition: height 0.3s ease-out, width 0.3s ease-out;
}
#popup .content-close #close:hover{
    height:60px;
    width:60px;
}


.header {
    width: 100%;
    height: 780px;
    background: #000000 url("../images/header-img.jpg") no-repeat;
    background-size: cover;
    position: relative;
    color: rgb(194,194,194);
}

.header .title {
    position: absolute;
    top: 250px;
    left: 65%;
    color: white;
}

.header .title img {
    width:168px;
    margin-left: -18px;
}

.header .title h1 {
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid white;
    width: 120px;
    padding-bottom: 5px;
}

.header .title h2 {
    color: rgb(194,194,194);
    padding: 15px 0;
    font-size: 22px;
    font-family: 'Dancing Script', cursive;
    font-weight: 100;
    width: 200px;
    line-height:1.4;
}

.header .title hr {
    height:1px;
    width:82px;
    margin-left:0;
    background-color:rgb(194,194,194);
    border:none;
    opacity:0.6;
}

.header .title .date {
    color: rgb(194,194,194);
    font-weight: 700;
}

.header .date {
    font-size:20px;
    font-family: 'Lora',serif;
}

.nav-container {
    width: 100%;
    min-width: 1200px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}

.nav {
    width: 70%;
    height: 60px;
    line-height: 26px;
    margin: auto;
    /*font-size: 36px;*/
}

.nav ul {
    margin-top:18px;
    margin-left: 25px;
    float: right;
}

.nav a {
    color: #edeff8;
    text-decoration: none;
}

.nav a:hover{
    color: #be4938;
}

.nav li {
    height:24px;
    border-left:1px solid rgba(255,255,255,0.4);
    text-align:center;
}

.nav li:first-child {
    margin-left:0;
    border:0;
}

.nav li a {
    margin: 0 28px;
}

.nav li:first-child a {
    margin-left: 4px;
}

.nav-left {
    font-family: 'Dancing Script', cursive;
    float: left;
}

.nav-right {
    float: right;
    font-size: 20px;
}

.nav-right a {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    font-size:20px;
    line-height:60px;
}

.nav-right a:nth-child(2) {
    font-size:22px;
}

.nav-right a:hover {
    color: #be4938;
}

.nav-right a:first-child {
    margin-right: 25px;
}

.nav-right a img {
    width: 20px;
}

.nav-right li, .nav-left li {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: inline-block;
}

.logo {
    margin-top: 7px;
    display: block;
    float: left;
    /*height: 60px;*/
    /*width: 60px;*/
    line-height: 60px;
}

.logo > img {
    height: 45px;
    width: 45px;
}

.content-first {
    height: 655px;
    /*margin-left: 25%;*/
    padding-top: 80px;
    position: relative;
}

.container {
    width: 1200px;
    margin: auto;
}

#button-play img {
    height:72px;
    width:72px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: height 0.3s ease-out, width 0.3s ease-out;
    -moz-transition: height 0.3s ease-out, width 0.3s ease-out;
    -ms-transition: height 0.3s ease-out, width 0.3s ease-out;
    transition: height 0.3s ease-out, width 0.3s ease-out;
}

.content-left { float: left; }
.content-right { float: right; }

.content-first .content-left {
    float: left;
    width: 35%;
    height: inherit;
}

.content-first .content-left .content-bottom {
    position: absolute;
    bottom: 0;
    width: 35%;
    padding-bottom:20px;
}

.content-first .content-right {
    float: left;
    width: 65%;
    height: inherit;
}

.content-first .content-right .content-bottom .content-video {
    cursor:pointer;
    position:absolute;
    bottom:0;
    right:0;
    height:450px;
    width:653px;
}

.content-first .content-right .content-bottom .content-video > #button-play {
    z-index:999;
    position:absolute;
    bottom:0;
    left:0;
    height:124px;
    width:124px;
    background-color:#fff;
}

.content-first .content-right .content-bottom .content-video > img {
    display: block;
    height: 450px;
    float: right;
}

.content-second {
    margin-top: 100px;
    height: 450px;
    /*margin-left: 15%;*/
}

.content-second .content-left .content-sound{
    position:relative;
    cursor:pointer;
    height:450px;
    width:759px;
}

.content-second .content-left .content-sound > #button-play {
    z-index:999;
    position:absolute;
    bottom:0;
    right:0;
    height:124px;
    width:124px;
    background-color:#fff;
}

.content-second .content-left .content-sound img {
    display: block;
    height: 450px;
}

.content-first .content-right .content-bottom .content-video:hover > #button-play img, .content-second .content-left .content-sound:hover > #button-play img {
    height:88px;
    width:88px;
}


.content-second .content-right {
    width: 32%;
    margin-top: 145px;
}
.content-second .content-right p { width: 362px; }

.content-full {
    margin: auto;
    width: 980px;
    text-align: center;
    margin-top: 100px;
}

#makingof .large {
    height: 370px;
    width: 60%;
}

#makingof .min {
    height: 370px;
    width: 39%;
}

#makingof div.min {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding: 50px;
}

#makingof div.min p {
    font-family: 'Raleway', sans-serif;
}

#makingof div.min h3 {
    text-align: left;
}

#makingof h2 {
    margin-top: 120px;
}

#makingof h3, #makingof h2{
    text-align: center;
}

#makingof a {
    color: #be4938;
    border: 1px solid #be4938;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    font-weight: 400;
}

#makingof a:hover {
    color:#fff;
    background-color:#be4938;
}

#team {
    text-align: center;
    margin-bottom: 100px;
}

#team h2 {
    margin: 100px 0px 0px 0px;
    padding-bottom:15px;
}

#team h4 {
    font-family: 'Raleway', sans-serif;
    color: #707070;
    line-height: 1.4;
    margin:0 auto;
    margin-bottom:30px;
    font-weight:normal;
    width:800px;
}

#team p {
    margin-left:40px;
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 18px;
}

#team p .team-name {
    display:inline-block;
    width:216px;
    text-align:left;
}

#team p .team-role {
    display:inline-block;
    width:250px;
    font-weight: 300;
    text-align:left;
}

footer {
    min-width: 1200px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}

footer #logo-virtuose {
    width: 160px;
    margin-bottom: 20px;
}

footer a {
    color: white;
    font-weight: 600;
}

footer p {
    line-height: 1.4;
    font-weight: 200;
    color: white;
}

footer p.date {
    font-family: 'Lora',serif;
    font-weight: 600;
}

footer p.copyright {
    margin-top: 20px;
}

footer .logos {
    margin-top:35px;
    opacity:0.8;
}

footer .logos a {
    text-decoration:none;
}

footer .logos img {
    display:inline-block;
    vertical-align:middle;
}

footer .logos #logo-hetic {
    height:32px;
    margin-right:40px;
}

footer .logos #logo-insomniaque {
    height:42px;
}



/* ------------ MEDIA QUERIES ------------ */

@media screen and (max-width: 1299px) {
    body{
        width:100%;
        min-width:inherit;
    }

    .container {
        width: 100%;
    }
    
    .content-first .content-left {
        box-sizing: border-box;
        padding-left:7%;
    }

    .content-second .content-right {
        width: 33%;
    }
    .content-second .content-right p { width: 362px; }

    #makingof .large, #makingof .min {
        height: auto;
    }

    footer {
        min-width: inherit;
    }

}

@media screen and (max-width: 1199px) {

    #popup .video, #popup .video iframe{
        height:414px;
        width:720px;
    }
    #popup .sound, #popup .sound iframe{
        width:720px;
    }

    .header {
        background: #000000 url("../images/header-img.jpg") no-repeat center;
    }

    .nav-container {
        min-width: inherit;
    }


    .content-first .content-left {
        padding-left:5%;
    }

    .content-first .content-right .content-bottom .content-video {
        height:auto;
        width:auto;
    }
    .content-first .content-right .content-bottom .content-video > img {
        height: auto;
        width:587px;
    }

    
    .content-second{
        height:400px;
    }
    .content-second .content-left .content-sound {
        height:auto;
        width:auto;
    }
    .content-second .content-left .content-sound img {
        height: auto;
        width:587px;
    }

    .content-second .content-right {
        position:relative;
        height:auto;
        width:38%;
        box-sizing: border-box;
        padding-right:50px;
        margin-top:112px;
    }
    .content-second .content-right p { width: 100%; }


    #makingof h2 {
        margin-top: 80px;
    }
}
