body {
    font-family: 'Dancing Script', cursive;
}

.header {
    width: 100%;
    height: 780px;
    background: #000000 url("../images/header-img.png") no-repeat fixed center;
}
.nav {
    width: 80%;
    height: 100px;
    line-height: 100px;
    margin: auto;
    font-size: 36px;
}
.nav a {
    color: #edeff8;
    text-decoration: none;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
    font-size: 20px;
}
.nav-right li {
    display: inline-block;
}