body {
    min-width: 1200px;
}

h2, h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    color: #be4938;
    padding: 30px 0;
}

.header {
    width: 100%;
    height: 780px;
    background: #000000 url("../images/header-img.jpg") no-repeat;
    background-size: cover;
    border-bottom: 1px solid black;
    position: relative;
}

.header .title {
    position: absolute;
    top: 250px;
    left: 65%;
    color: white;
}

.header .title img {
    margin-left: -18px;
}

.header .title h1 {
    font-family: 'Dancing Script', cursive;
    border-bottom: 1px solid white;
    width: 120px;
    padding-bottom: 5px;
}

.header .title h2 {
    color: #d9d9d9;
    padding: 15px 0;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: 150px;
}

.header .title .date {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.nav-container {
    width: 100%;
    min-width: 1200px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
}

.nav {
    width: 70%;
    height: 100px;
    line-height: 100px;
    margin: auto;
    font-size: 36px;
}

.nav ul {
    margin-left: 25px;
    float: right;
}

.nav a {
    color: #edeff8;
    text-decoration: none;
}

.nav a:hover{
    color: #be4938;
}

.nav-left {
    font-family: 'Dancing Script', cursive;
    float: left;
}

.nav-right {
    float: right;
    font-size: 20px;
}

.nav-right li, .nav-left li {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: inline-block;
    margin: 0 5px;
}

.logo {
    margin-top: 25px;
    display: block;
    float: left;
    height: 60px;
    width: 60px;
    line-height: 100px;
}

.logo > img {
    height: 60px;
    width: 60px;
}

.content-first {
    height: 450px;
    /*margin-left: 25%;*/
    padding-top: 60px;
    position: relative;
}

.container {
    width: 1200px;
    margin: auto;
}

.content-left { float: left; }
.content-right { float: right; }

.content-first .content-left {
    float: left;
    width: 35%;
    height: inherit;
}

.content-first .content-left .content-bottom {
    position: absolute;
    bottom: 0;
    width: 35%;
}

.content-first .content-right {
    float: left;
    width: 65%;
    height: inherit;
}

.content-first .content-right .content-bottom > img {
    display: block;
    height: 450px;
    float: right;
}

.content-second {
    margin-top: 100px;
    height: 450px;
    /*margin-left: 15%;*/
}
.content-second .content-left img {
    display: block;
    height: 450px;
}
.content-second .content-right {
    width: 35%;
}
.content-second .content-right p { width: 400px; }

.content-full {
    margin: auto;
    width: 980px;
    text-align: center;
    margin-top: 100px;
}

#makingof .large {
    height: 370px;
    width: 60%;
}

#makingof .min {
    height: 370px;
    width: 39%;
}

#makingof div.min {
    display: inline-block;
    float: right;
    box-sizing: border-box;
    padding: 50px;
}

#makingof div.min p {
    font-family: 'Raleway', sans-serif;
}

#makingof div.min h3 {
    text-align: left;
}

#makingof h2 {
    margin-top: 100px;
}

#makingof h3, #makingof h2{
    text-align: center;
}

#makingof a {
    color: #be4938;
    border: 1px solid #be4938;
    padding: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

footer {
    width: 100%;
    min-width: 1200px;
    background-color: rgb(26,26,26);
    color: white;
    text-align: center;
    padding: 40px;
    font-family: 'Raleway', sans-serif;
}

footer img {
    width: 160px;
    margin-bottom: 20px;
}

footer a {
    color: white;
    font-weight: 600;
}

footer p {
    line-height: 1.2;
    font-weight: 200;
}

footer p.date {
    font-weight: 600;
}

footer p.copyright {
    margin-top: 20px;
}

